/* GENERAL */
body {
  margin: 0;
  font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* LOGO */

div.container-logo {
  text-align: center;
}

h1 {
  margin: 0;
  border: 0;
  padding: 0;
}

div.container-logo div.main-logo img.lab-logo {
  width: 250px;
}

div.info-user {
  position: absolute;
  top: 5%;
  right: 15%;
}

/* NAVIGATION */

#contentSection .containerTabs {
  width: 100%;
  color: white;
  font-size: 1.5em;
  border-bottom: 1px solid grey;
}

ul.containerTabs li {
  list-style: none;
  display: inline-block;
}

button.tab {
  border-radius: 5%;
  border-bottom: none;
  padding: 10px;
  width: 100px;
}

div.divTexto {
  display: inline-block;
}
