/* GENERAL */
body {
  margin: 0;
  font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* LOGO */

div.container-logo {
  text-align: center;
}

h1 {
  margin: 0;
  border: 0;
  padding: 0;
}

div.container-logo div.main-logo img.lab-logo {
  width: 250px;
}

div.info-user {
  position: absolute;
  top: 5%;
  right: 15%;
}

/* NAVIGATION */

#contentSection .containerTabs {
    position: relative;
    left: 3em;
    width: 84%;
    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid #80808069;
}

ul.containerTabs li {
  list-style: none;
  display: inline-block;
}

button.tab {
  border-radius: 5%;
  border-bottom: none;
  padding: 10px;
  width: 100px;
  position: relative;
  right: 3em;
  background-color: #ed5e9c;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
}

button.tab:hover{
  background-color:#ed5e9ccf;
  cursor: pointer;
}

div.divTexto {
  display: inline-block;
}

/* GENERAL SECTIONS */

.coaches h2, .jedis h2{
  bottom: 14em;
  position: relative;
  left: 23em;
  display: inline-block;
  box-sizing: border-box;
  font-size: xx-large;
}

#corchetes img{
  position: relative;
  width: 30em;
  top: 2em;
  height: 27em;
  display: inline-block;
  box-sizing: border-box;
}

button.btn-menu-anterior {
  width: 80px;
  height: 40px;
  background: #fcd922;
  position: absolute;
  top: 17%;
  right: 16%;
  display: block;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bolder;
}

button.btn-menu-anterior:hover{
  background-color: #56F89A;;
}

/* SECTION STUDENTS */

/* SECTION COACHES */

div.score-coaches, div.score-jedis {
  position: absolute;
  top: 60%;
  right: 30%;
  font-size: 50px;
}

/* SECTION JEDIS */
