/* GENERAL */
body {
  margin: 0;
  font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* LOGO */

div.container-logo {
  text-align: center;
}

h1 {
  margin: 0;
  border: 0;
  padding: 0;
}

div.container-logo div.main-logo img.lab-logo {
  width: 250px;
}

div.info-user {
  position: absolute;
  top: 5%;
  right: 15%;
}

/* NAVIGATION */
div.container-countries {
  padding-top: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.container-countries ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

p.countries {
  border: 3px solid #FF009E;
  padding: 3px 14px;
  border-radius: 10px;
  width: 110px;
  text-align: center;
  margin: 0 auto;
}

p.countries:hover {
  cursor: pointer;
  background-color: #FF009E;
  color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.submenu {
  display: inline-block;
  width: 24%;
  box-sizing: border-box;
  position: relative;
}

.sede-cities{
  position: absolute;
  left: 85px;
  z-index: 1;
}

.submenu2 {
    position: relative;
    width: 110px;
    overflow: visible;
    padding: 1em;
    cursor: pointer;
    background-color: #fed922;
    color: white;
    border-radius: 10px;
    margin-top: 2px;
    text-align: center;
}

.submenu2:hover{
  background-color: #fed922cc
}

.generation {
  position: absolute;
  top: 0;
  left: 101%;
 
}

.generation > li {
  padding: 1em;
  font-size: 14px;
  background-color: #fed922;
  width: 80px;
  border-radius: 10px;
}

.generation > li:hover{
  opacity: .8;
  border-radius: 10px;
}



/* HEADER / GRAPHICS SUMMARY */
header {
  margin-top: -2em;
}

div.graphics-summary {
  /*border: 1px solid black;*/
  width: 70%;
  height: 300px;
  margin-left: 15%;
  margin-top: 4.5%;
}

img.lab-picture {
  display: block;
  position: relative;
  top: 85px;
  width: 100%;
}

button {
  width: 100px;
  height: 50px;
  background: #fcd922;
  position: absolute;
  left: 47%;
  display: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

button:hover{
  background-color: black;
}

/* QUICK ACCESS INFORMATION */

p {
  font-weight: 400;
}

div.info-left, div.info-center, div.info-right {
  width: 24%;
  height: 150px;
  /*border: 1px solid black;*/
  padding: 10px 2%;
  display: inline-block;
  margin: 30px;
}

div#quickInfo {
  display: none;
}
