/* GENERAL */
body {
  margin: 0;
  font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* LOGO */

div.container-logo {
  text-align: center;
}

h1 {
  margin: 0;
  border: 0;
  padding: 0;
}

div.container-logo div.main-logo img.lab-logo {
  width: 250px;
}

div.info-user {
  position: absolute;
  top: 5%;
  right: 15%;
}

/* NAVIGATION */

div.container-countries {
  padding-top: 0;
  margin-top: 0;
  margin-left: 11%;
}

div.container-countries ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

div.container-countries ul > li {
  border: 30px;
  padding: 8px 77px;
  display: inline-block;
  margin-left: 12px;
}

div.container-countries ul ul {
  top: 21.5%;
  position: absolute;
}

div.container-countries  ul.sede-cities li {
  display: block;
  background-color: #FFE521;
  color: #000000;
  text-align: left;
  padding: 8px 20px;
  width: 68px;
}

div.container-countries  ul.sede-cities li:hover {
  background-color: #56F89A;
}

ul.sede-cities li.first-element {
  margin-top: 35px;
}

div.container-countries ul.sede-cities {
  padding-left: 0px;
  margin-left: 0px;
  text-align: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

p.countries {
  border: 3px solid #FF009E;
  padding: 3px 14px;
  border-radius: 10px;
}

p.countries:hover {
  cursor: pointer;
}

ul.generation {
  width: 100px;
  position: absolute;
  left: 90%;
}

ul.generation li.ar-generation {
  float: left;
  position: relative;
}

ul.generation > li.ar-generation {
  margin-top: -70px;
  margin-left: -8px;
}

ul.generation > li.ar-20171 {
  margin-top: -36px;

}

ul.generation li.li-generation {
  float: right;
  position: relative;
}

/* HEADER / GRAPHICS SUMMARY */

div.graphics-summary {
  /*border: 1px solid black;*/
  width: 70%;
  height: 300px;
  margin-left: 15%;
  margin-top: 4.5%;
}

img.lab-picture {
  margin-left: 13%;
  display: block;
}

button {
  width: 100px;
  height: 50px;
  background: yellow;
  position: absolute;
  left: 45%;
  display: none;
}

/* QUICK ACCESS INFORMATION */

p {
  font-weight: 400;
}

div.info-left, div.info-center, div.info-right {
  width: 24%;
  height: 150px;
  /*border: 1px solid black;*/
  padding: 10px 2%;
  display: inline-block;
  margin: 30px;
}

div#quickInfo {
  display: none;
}
